In [ ]:
#video url: https://www.youtube.com/watch?v=4urPuRoT1sE&index=4&list=PL2-dafEMk2A7YdKv4XfKpfbTH5z6rEEj3
#outline: use tensorflow to classify housing prices

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
%matplotlib.pyplot inline

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
data = pd.read_csv('data.csv')

In [6]:
data.head()

   index    area  bathrooms     price    sq_price
0      0  2104.0        3.0  399900.0  190.066540
1      1  1600.0        3.0  329900.0  206.187500
2      2  2400.0        3.0  369000.0  153.750000
3      3  1416.0        2.0  232000.0  163.841808
4      4  3000.0        4.0  539900.0  179.966667